.footer{
    h1,h2,h3,h4 {color: #909090}
    background: #30393e;
    color: #909090;

    .links, .recent-posts{
        ul {list-style-type: none;}
    }
    svg {
        height: 16px;
        fill: currentColor;
        position: absolute;
        left: 0px;
    }

    .location p {
        padding-left: 30px;
        position: relative;
    }
    .copyright p{border-top:1px solid rgba(255,255,255,.1);}

    a .grey-text {
        color: #909090;
    }

    #twitter, #linkedin, #instagram { padding: 8px 0px 8px 55px; background-repeat: no-repeat; display: inline-block; }
    #twitter { background-image: url(/images/twitter-round-color.svg); }
    #linkedin { background-image: url(/images/linkedin-round-color.svg); }
    #instagram { background-image: url(/images/instagram-round-color.svg); }
}
