#main-nav {
    a:hover, a.active {margin-bottom: 0px; border-bottom: 2px solid $main-pink;}
    a {margin-bottom: 2px; color: $main-pink}
}
/* #main-nav a { display: block; padding: 0; margin: 0;} */
