@import "variables";
@import "footer";
@import "directory";
@import "menu";
@import "bootstrap/bootstrap";


// To upgrade Bootstrap, download new scss and modify bootstrap/_variables.scss to point to the top level _variables.scss

/* --breakpoint-xs: 0; */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */


body {
    font: 100% $font-stack;
    color: $primary-color;
}

a, a:hover {color: $main-pink;}
p {line-height: 1.5rem;}
ul { list-style: none;}
.lists ul {list-style: disc}

h1,h2,h3,h4,h5,h6 {
    color: $main-pink;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 2rem;
}
h1,h2 {font-weight: 700; font-family: 'Lora', serif;}
img.shadow, img[src*='#shadow'], { filter: drop-shadow(5px 5px 5px #666666); }

.app-store-image{ height: 60px; }

.narrow { font-family: 'PT Sans Narrow',sans-serif; }
.nav-link { display: inline-block; }
blockquote {
    font-weight: 700;
    font-family: 'PT Sans Narrow',sans-serif;
    color: $main-pink;
    font-size: 24px;
}

#faqs h3 { margin-bottom: 1rem; }

img[src*='#left'] {float: left; padding: 10px;}
.mw-95 { max-width: 95% }
.small-icon { width: 10px; height: 10px; margin-left: 5px;}
.tag {
    margin-bottom: 2px;
    font-size: 12px;
    background-color: rgb(243, 244, 247);
    padding: 7px;
    border-radius: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: $main-pink;
    border-image: initial;
    text-decoration: none;
    display: inline-block;
}
.box {box-shadow: rgba(0, 0, 0, 0.11) 0px 15px 30px 0px, rgba(0, 0, 0, 0.08) 0px 5px 15px 0px;}

.pagination {
    li {
        display: inline-block;
        a {
            background-color: #fff;
            margin-left: .1em;
            margin-right: .1em;
            border: 1px solid #222;
            color: #222;
            float: left;
            line-height: 1.42857143;
            padding: 6px 12px;
            position: relative;
            text-decoration: none;
            margin-bottom: .2em;
        }

    }
    li.active a {
        background-color: #222;
        border-color: #222;
        color: #fff;
        cursor: default;
        z-index: 2;
    }
}
#homepage {
    #feature {
        background-image: url("/images/landing-birmingham.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left top;
        /* margin-bottom: 3em; */
        min-height: 160px;
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%);
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%);
    };

    @media (min-width: 768px) {
        #feature {
            background-position: left top;
            /* margin-bottom: 4em; */
            height: 450px;
        };
        #feature-box {
            margin-top: -400px !important;
            text-align: left;
        }
    }

    @media (min-width: 992px) {
        #feature-box {
            /* margin-bottom: 9em !important; */
            /* margin-top: -250px !important; */
        };
    }

    #feature-box {
        h2,h3,h4 {color: $primary-color;}
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        /* margin-bottom: 4em; */
    }

    #customers, #available-on-phone, #proven-concept {
        img { max-width: 95%; }
    }

    #buy-sell-connect, #testimonial {
        img { width: 55%; }
    }

    #here-to-help {
        img {
            width: 90%;
        }
    }

    .product-container {
        max-width: 800px;
        justify-content: center;
    }
}

#sign-up {
    #feature {
        background-image: url("/images/signup_header.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left top;
        /* margin-bottom: 3em; */
        min-height: 200px;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%, rgba(0, 0, 0, 1) 97.5%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%, rgba(0, 0, 0, 1) 97.5%, rgba(0, 0, 0, 0) 100%);
    };

    @media (min-width: 768px) {
        #feature {
            background-position: left top;
            /* margin-bottom: 4em; */
            height: 550px;
        };
        #feature-box {
            margin-top: -475px !important;
            text-align: left;
        }
    }

    @media (min-width: 992px) {
        #feature-box {
            /* margin-top: -600px !important; */
            /* margin-bottom: 9em !important; */
            /* margin-top: -250px !important; */
        };
    }

    #feature-box {
        h3,h4 {color: $primary-color;}
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        /* margin-bottom: 4em; */
    }

    #available-on-phone, #marketplace-directory {
        img { max-width: 95%; }
    }

}

#marketplace {
    #feature {
        background-image: url("/images/marketplace-header.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left top;
        /* margin-bottom: 3em; */
        min-height: 160px;
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%, rgba(0, 0, 0, 1) 97.5%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%, rgba(0, 0, 0, 1) 97.5%, rgba(0, 0, 0, 0) 100%);
    };

    @media (min-width: 768px) {
        #feature {
            background-position: left top;
            /* margin-bottom: 4em; */
            height: 450px;
        };
        #feature-box {
            margin-top: -400px !important;
            text-align: left;
        }
    }

    @media (min-width: 992px) {
        #feature-box {
            /* margin-top: -600px !important; */
            /* margin-bottom: 9em !important; */
            /* margin-top: -250px !important; */
        };
    }

    #feature-box {
        h2,h3,h4 {color: $primary-color;}
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        /* margin-bottom: 4em; */
    }

    #available-on-phone, #marketplace-directory {
        img { max-width: 95%; }
    }

    .marketplace-cta-text {
        max-width: 400px;
    }

}

.main-page {
    #feature {
        background-image: url("/images/how-it-works-header.jpg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: left bottom;
        margin-bottom: 3em;
        min-height: 160px;
        -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%);
        mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 2.5%);
    };

    @media (min-width: 768px) {
        #feature {
            background-position: left top;
            min-height: 300px;
        };
    }
    @media (min-width: 992px) {
        #feature {
            min-height: 350px;
        };
    }
    @media (min-width: 1200px) {
        #feature {
            min-height: 400px;
        };
    }

}

#about-us {
    #feature {
        background-image: url("/images/how-it-works-header.jpg");
    }
}
#how-it-works {
    #feature {
        background-image: url("/images/about-us-header.jpg");
    }
    .balance-table {
        text-align: left;
        td {
            border: solid 2px $main-pink;
            padding: 5px;
        }
    }
    .arrow { width: 30%; max-width: 200px; }
}
#book-demo {
    #image { max-width: 650px; width: 100%; margin-bottom: 4em; }
    #book-box, #book-book { padding: 15px; max-width: 650px; }
}
#pricing {
    #feature {
        background-image: url("/images/pricing-header.jpg");
    }
    #prices h3 { color: $primary-color; }
    .three-things img { width: 65%; }
    .price-border {
        border-bottom: 2px solid $main-pink;
        border-right: 0px;
    }
    @media (min-width: 768px) {
        .price-border {
            border-right: 2px solid $main-pink;
            border-bottom: 0px;
        }
    }

}

.three-things, .two-things {
    img { width: 95%; }
}

#post img { max-width: 95%; margin: 1em 0 2em 0;}

#contact {
    svg {
        height: 16px;
        fill: currentColor;
        position: absolute;
        left: 0px;
    }
    p.withicon {
        padding-left: 30px;
        position: relative;
    }

}

#bio {
    img { max-width: 70%!important; }
    @media (min-width: 576px) {
        img { max-width: 85%!important; }
    }
}

.directory-company {
    .icon { width: 16px; height: 16px; position: absolute; left: 0px; top: 2px; }
    li { padding-left: 30px; position: relative; }
}

.product, .dashed-product {
    /* border-radius: 2px; */
    border-width: 2px 2px 2px 2p;
    border-style: solid;
    border-color: #464646 //$main-pink;
    /* padding: 10px; */

}

.product-box {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    width: 380px;
}

.dashed-product {
    border-style: dashed;
}

.product-title {
    display: inline-block;
    width: 320px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.parity-currency, .parity-currency-pink {
    height: 1em;
    width: 1em;
    position: relative;
    top: 0.2em;
    background-image: url('/images/icons/parity-icon-grey.svg');
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.parity-currency-pink {
    background-image: url('/images/icons/parity-icon.svg');
}

.dark-grey {
    color: #1f2533;
}

.light-gradient:after {
    opacity: 0.1
}

.gradient:after {
    background-image:
        linear-gradient(
            to right,
            #FF005A,
            #464646
        );
    opacity: 0.2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: ' ';
    transition: all 0.3s ease-in-out;
}

.product-box:hover .gradient:after {
    opacity: 0;
}
