@import "variables";
@import "footer";
@import "directory";
@import "bootstrap/bootstrap";

// To upgrade Bootstrap, download new scss and modify bootstrap/_variables.scss to point to the top level _variables.scss

/* --breakpoint-xs: 0; */
/* --breakpoint-sm: 576px; */
/* --breakpoint-md: 768px; */
/* --breakpoint-lg: 992px; */
/* --breakpoint-xl: 1200px; */

body {
    font: 100% $font-stack;
    color: $primary-color;
}

a, a:hover {color: $main-pink;}

#main-nav a:hover {margin-bottom: 0px; border-bottom: 2px solid $main-pink;}
#main-nav a {margin-bottom: 2px;}
/* #main-nav a { display: block; padding: 0; margin: 0;} */

#homepage-feature {
    background-image: url("/images/landing-birmingham.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left bottom;
};

@media (min-width: 768px) {
    #homepage-feature {
        background-position: left top;
        margin-bottom: 8em;
    };
}

@media (min-width: 768px) {
    #homepage-feature-box {
        margin-bottom: 9em !important;
    };
}

#homepage-feature-box {
    background-color: rgba(255, 255, 255, 0.8);
    /* margin-bottom: 4em; */
}
