{{ range $index, $element := .Site.Params.marketplace_categories }}
    <h2>{{ $element }}</h2>
    <p><small><em>The below listings are available for purchase in our local currency (⇌) which is equal to pounds (⇌1 = £1). Some listings are 50% ⇌ & 50% £. Listings are one off and recurring costs. Listings are exclusive of VAT which you should expect to pay completely in pounds.</em></small></p>
    <div class="row" style="justify-content: center;">
        {{ $products := slice }}

        {{ range where site.Pages "Type" "in" "directory" }}
            {{ $product_path := .RelPermalink }}
            {{ $company_name := .Params.Name }}
            {{ $location := .Params.location }}

            {{ range .Params.products }}
                {{ if (eq .category $element) }}

                    {{ $products = $products | append (dict "context" . "product_path" $product_path "company_name" $company_name "location" $location)}}
                {{ end }}
            {{ end}}
        {{ end }}

        {{ $products = shuffle $products }}

        {{ range $p_index, $product := $products }}
                {{ partial "product_box" $product }}
        {{ end }}

    </div>
    {{ if eq $index 0 }}
        <hr>
        <div class="row my-5" id="">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-center my-auto">
                <div class="marketplace-cta-text text-center d-inline-block">
                    <h2>Get a balance in Parity to spend immediately</h2>

                    <p>Make purchases without pounds. Save cash for when you really need it</p>
                </div>

            </div>
            <div class="col-md-4 text-center pt-4">

                <p><a href="/sign-up" class="btn btn-dark">Try Parity for Free</a></p>

                <p><a href="/how-it-works">Learn how it works</a></p>

            </div>
            <div class="col-md-2">
            </div>
        </div>
    {{ end }}

    {{ if eq $index 1 }}
        <hr>
        <div class="row my-5" id="">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-center my-auto">
                <div class="marketplace-cta-text text-center d-inline-block">
                    <h2>Create a free listing on our local marketplace.</h2>

                    <p>Introductory offers, promotions, loss leaders. Use Parity how you want.</p>
                </div>

            </div>
            <div class="col-md-4 text-center pt-4">

                <p class=""><a href="/sign-up" class="btn btn-dark">Try Parity for Free</a></p>

                <p><a href="/how-it-works">Learn how it works</a></p>

            </div>
            <div class="col-md-2">
            </div>
        </div>
    {{ end }}
    {{ if eq $index 2 }}
        <hr>
        <div class="row my-5" id="">
            <div class="col-md-2">
            </div>
            <div class="col-md-4 text-center my-auto">
                    <h2>Support your local business community</h2>

                    <p>Build longlasting relationships. Use Parity as the icebreaker.</p>
            </div>
            <div class="col-md-4 text-center pt-4">

                <p><a href="/sign-up" class="btn btn-dark">Try Parity for Free</a></p>

                <p><a href="/how-it-works">Learn how it works</a></p>

            </div>
            <div class="col-md-2">
            </div>
        </div>
    {{ end }}
    {{ if not (eq $index 3) }}
        <hr>
    {{ end }}
{{ end }}
