{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "book_demo" }}
    <!-- I wish to have no book demo -->
{{ end }}
{{ define "main" }}
<div id="marketplace">
    <div id="feature" class="gradient light-gradient">
    </div>
    <div class="container">

        <div class="row justify-content-end">
            <div id="feature-box" class="mt-md-5 p-4 col-md-9 col-lg-7">
                <h1>Buy & sell<br> 
                    locally without cash</h1>

                <h3 class="" style="">Post offers and promotions, make purchases with a zero interest overdraft</h3>

                <p><a href="/book-demo/" class="btn btn-dark">Book Free Demo</a></p>

                    <p><a href="#" class="js-video-button" data-video-id='g_2MLp1wGbU'>Explainer Video (1m)</a></p>
                    <script>$(".js-video-button").modalVideo();</script>

            </div>
        </div>

        <div class="pt-md-5"></div>

        <hr class="d-md-none d-block">

        {{ .Render "main" }}

        <hr>

        <div class="row my-5" id="marketplace-directory">
            <div class="col-md-12 text-center my-auto">
                <h2>Do business with local independent businesses like you</h2>

                <p>See who is in our marketplace and build your local connections.</p>

                <p class=""><a href="/pricing" class="btn btn-dark">See pricing</a></p>

            </div>
            <!-- <div class="col-md-6 text-center">
                 <a href="/directory"><img src="/images/directory_map.jpg" alt="Picture of a map with members marked with pins" /></a>
                 </div> -->
        </div>
    </div>
</div>
{{ end }}
