<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ $bootstrap := resources.Get "sass/bootstrap/bootstrap.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $bootstrap.RelPermalink }}">

        {{ $style := resources.Get "sass/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}">

        {{ $navigation := resources.Get "js/navigation.js" }}
        {{ $JS := $navigation | resources.Minify | resources.Fingerprint "sha512" }}

        <link rel="icon" href="/favicon.png" sizes="32x32">
        {{ block "header" . }}
        {{ end }}
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body>
        <div class="container-fluid">
            {{ partial "menu.html" . }}

            {{ block "main" . }}
            {{ end }}

            {{ partial "footer.html" . }}

            {{ block "footer" . }}
            {{ end }}
        </div>
        <script type="text/javascript" src="{{ $JS.Permalink }}" integrity="{{ $JS.Data.Integrity }}"></script>
    </body>
</html>
