{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div id="pricing" class="main-page">
    <div id="feature">
    </div>
    <div class="container">
        <!--
        <div class="row">
            <div class="col text-center">
                <h2>Our Offer</h2>
                <p>Parity is a network for independent businesses with its own local currency</p>

                <p>It offers its members an innovative way to increase trade in Birmingham</p>

                <p>Sell your spare capacity and make purchases without pounds</p>
            </div>
        </div>
        <hr>
        -->
        <div class="row mt-5">
            <div class="col text-center">
                <h2>Our Pricing</h2>
            </div>
        </div>

        <div class="row my-5 three-things text-center" id="prices">
            <div class="col-md-4 text-center price-border mt-md-0 mt-5">
                <h2>Free</h2>
                <h3>£0</h3>
                <p>Up to <span class="parity-currency"></span>500 Credit Line*</p>
                <p>Mobile App</p>
                <p>Limited Marketplace Listings</p>        

            </div>
            <div class="col-md-4 text-center price-border mt-md-0 mt-5">
                <h2>Essential</h2>
                <h3 class="">£35 + VAT/month</h3>
                <p>Up to <span class="parity-currency"></span>5000 Credit Line*</p>
                <p>Mobile App</p>
                <p>Sales Support</p>
                <p>Purchasing Advice</p>
                <p>Unlimited Marketplace Listings</p> 

            </div>
            <div class="col-md-4 text-center mt-md-0 mt-5">
                <h2>Premium</h2>
                <h3>£70 + VAT/month</h3>
                <p>Up to <span class="parity-currency"></span>10,000 Credit Line*</p>
                <p>Mobile App</p>
                <p>Sales Support</p>
                <p>Purchasing Advice</p>
                <p>Personal Relationship Manager</p>
                <p>Unlimited Marketplace Listings</p>
            </div>
        </div>
        <div class="row text-center mb-5">
            <div class="col text-center">
                <small class=""><I>*Credit based on risk analysis and within the local currency (<span class="parity-currency"></span>), which is always equal to GBP (<span class="parity-currency"></span>1=£1), but can’t be withdrawn from the marketplace.</I></small>
            </div>
        </div>
        <!--
        <hr>

        <div class="row my-5 pt-5">
            <div class="col text-center">
                <h2>Still not convinced?</h2>
            </div>
        </div>
        <div class="row h-100 mb-5 three-things">
            <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                <img src="calendar.jpg" class="mx-auto" alt="3 months free trial" />
                <h3 class="my-3">First 35 members free</h3>
                <p class="mt-auto">Free lifetime Basic Membership for first 35 members</p>
                <p>Have the network built around your needs</p>
            </div>
            <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                <img src="coffee.jpg" class="mx-auto" alt="Refer a friend" />
                <h3 class="my-3">Refer a Friend</h3>
                <p class="mt-auto">Refer a company to expand the network</p>
                <p>£50 finders fee for each new member</p>
            </div>
        </div>
        -->

    </div>
</div>
{{ end }}
