{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div id="pricing" class="main-page">
    <div id="feature">
    </div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h2>Our Offer</h2>
                <p>Parity is a network for independent businesses with its own local currency</p>

                <p>It offers its members an innovative way to increase trade in Birmingham</p>

                <p>Make sure your business secures its place within a fast growing network</p>
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col text-center">
                <h2>Our Pricing</h2>
            </div>
        </div>

        <div class="row my-5 two-things" id="prices">
            <div class="col-md-6 text-center my-auto">
                <h2>Basic</h2>
                <h3>£35 + VAT/mo</h3>
                <p>Credit facility: £1000 - £5,000</p>
            </div>
            <div class="col-md-6 text-center">
                <h2>Premium</h2>
                <h3>£70 + VAT/mo</h3>
                <p>Credit facility: £6000 - £20,000</p>
            </div>
        </div>

        <hr>

        <div class="row my-5 pt-5">
            <div class="col text-center">
                <h2>Still not convinced?</h2>
            </div>
        </div>
        <div class="row h-100 mb-5 three-things">
            <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                <img src="calendar.jpg" class="mx-auto" alt="3 months free trial" />
                <h3 class="my-3">3 Months Free Trial</h3>
                <p class="mt-auto">All the benefits of Parity for three months</p>
                <p>If you have no new sales or purchases 
                <p>Then you can walk away without cost</p>
            </div>
            <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                <img src="coffee.jpg" class="mx-auto" alt="Refer a friend" />
                <h3 class="my-3">Refer a Friend</h3>
                <p class="mt-auto">Refer a company to expand the network</p>
                <p>Receive 20% off your fee for each new member</p>

                <p>Refer to five friends and Parity is free forever</p>
            </div>
        </div>

        <hr>

        <div class="row my-5">
            <div class="col text-center">
                <h2>Parity is a growing community</h2>

                <p>Connect to increase your local trade and widen your networks</p>

                <p>Get in touch for a no obligation chat about how you can benefit</p>

                <p><a href="/contact">Discuss Your Business</a></p>

            </div>
        </div>
    </div>
</div>
{{ end }}
