<section>
    <a href="{{ "/categories/" | relLangURL }}" class="">
        <h2>Categories</h2>
    </a>
    <ul>
        {{ range $index, $element := .Site.Taxonomies.categories }}
        {{ if $index }}
        <li class="d-flex justify-content-between align-items-center mb-2">
            <a href="{{ $element.Page.RelPermalink }}" class="">
                {{ $element.Page.Title }}
            </a>
            <span class="badge badge-secondary ml-5">
                {{ printf "%#v" (len $element) }} posts
            </span>
        </li>
        {{ end }}
        {{ end }}
    </ul>
</section>
