
{{ range where site.Pages "Type" "in" "directory" }}
    {{ if .Params.products }}
    <div class="row">
        <div class="col-12">
            <h2>{{ .Params.Name }}</h2>
        </div>
        {{ $product_path := .RelPermalink }}
        {{ $product_link := .RelPermalink }}
        {{ $company_name := .Params.Name }}
        {{ $location := .Params.location }}

        {{ range .Params.products }}
            {{ partial "product_box" (dict "context" . "product_path" $product_path "product_link" $product_link "company_name" $company_name "location" $location) }}
        {{ end}}
    </div>
    <hr>
    {{ end }}
{{ end }}
