{{ define "title" }}
{{ .Title }} &ndash; Blog &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 lists" id="post">
            {{ .Content }}
        </div>
        <div class="col-lg-4">
            <div class="row">
                <div class="col">
                    {{ partial "taxonomy/post_category.html" . }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ range (where site.RegularPages "Section" "posts").GroupByDate "2006" -}}
                    {{ partial "posts_by_date.html" . }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
