{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="book-demo" class="main-page">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Book a demo</h2>

                    <img id="image" class="shadow w-95" src="creepy_stuart.jpg" alt="Image of founder showing the app in a demo" />

                    <p>A one-to-one video call between your company and Parity which includes:</p>

                    <p> - Q&A on how Parity works</p>

                    <p> - Personalised review of your business</p>

                    <p> - Demo of the mobile app; make and receive test transactions</p>

                    <p> - Demo of the desktop platform; search for suppliers</p>

                    <p> - Next steps</p>

                    <p>No salesspeak, no obligation, no commitments, just see if Parity could work for you</p>

                </div>
            </div>

        </div>
    </div>
{{ end }}
