{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "book_demo" }}
<!-- I wish to have no book demo -->
{{ end }}
{{ define "main" }}
    <div id="book-demo" class="main-page">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">

                    <img id="image" class="shadow mx-auto d-block" src="creepy_stuart.jpg" alt="Image of founder showing the app in a demo" />

                    <div class="box mx-auto" id="book-box">
                        <div class="">
                            <h2 style="float: right;">15 mins</h2>
                            <h2 class="">Book a Free Demo</h2>
                        </div>

                        <p>A one-to-one video call between your company and Parity which includes:</p>

                        <p> ✅ Q&A on how Parity works</p>

                        <p> ✅ Personalised review of your business</p>

                        <p> ✅ Demo of the mobile app; make and receive test transactions</p>

                        <p> ✅ Demo of the desktop platform; search for suppliers</p>


                        <p>No sales speak, no obligation, no commitments. Just see if Parity could work for you.</p>
                    </div>

                    <div class="box mx-auto my-5" id="book-book">
                        <form id="book-demo-form" class="" name="book-demo" netlify>
                            <div class="form-group">
                                <label for="name" class="">Name:</label><br>
                                <input type="text" class="form-control mb-2" name="name" placeholder="Enter name" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email" class="">Email address:</label><br>
                                <input type="email" class="form-control mb-2" name="email" placeholder="Enter email" id="email">
                            </div>
                            <div class="form-group">
                                <label for="time" class="" >(optional) Preferred Date/Time:</label><br>
                                <input type="text" class="form-control mb-2" name="time" placeholder="Enter Preferred Date/Time" id="time">
                            </div>
                            <p><button type="submit" class="btn btn-dark">Book Online Demo</button></p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{{ end }}
