
<hr>

<div class="row my-5">
    <div class="col text-center">
        <h2>Connect with us</h2>

        <p>Connect to increase your local trade and widen your networks</p>

        <p>Get in touch for a no obligation chat about how you can benefit</p>

        <form id="contact-form" class="" name="contact" netlify>
            <br>
            <p>
            <label for="email" class="mr-sm-2">Email address:</label>
            <input type="email" class="mb-2 mr-sm-2" name="email" placeholder="Enter email" id="email">
            </p>
            <p><button type="submit">Discuss Your Business</button></p>
        </form>
        <p id="form-sent-message" style="display: none;"><br><br>Thanks, we will be in touch shortly to discuss your business</p>

    </div>
</div>
<script>
    $("#contact-form").submit(function(){
        $("#form-sent-message").toggle();
        $("#contact-form").toggle();
    });
</script>
