<nav class="navbar navbar-expand right small">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="https://apply.parity.uk">Sign Up</a></li>
        <li class="nav-item"><a class="nav-link" href="https://web.parity.uk">Sign In</a></li>
    </ul>
</nav>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/"><img src="/images/parity-logo.png" alt="Parity Logo" height="50px" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto" id="main-nav">

            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}

                {{ $menu_item_url := .URL | relLangURL }}
                {{ $page_url:= $currentPage.RelPermalink | relLangURL }}

                {{ if in $page_url $menu_item_url }}
                    {{/* the menu item links to the current page (with relLangURL) */}}
                    <li class="nav-item"><a class="nav-link active" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ else }}
                    <li class="nav-item"><a class="nav-link" href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}

            {{ end }}

        </ul>
    </div>
</nav>
