<!--  Essential META Tags -->

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Description }}">
<meta property="og:image" content="{{ .Permalink }}{{ .Params.social_image }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="628">
<meta property="og:type" content="{{ .Params.social_type | default "article" }}" />

<meta property="og:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:locale" content="en_GB" />

<!--  Non-Essential, But Recommended -->

<meta property="og:site_name" content="Parity Network">
<meta name="twitter:image:alt" content="{{ .Params.social_image_alt_text }}">


<!--  Non-Essential, But Required for Analytics -->

<meta property="fb:app_id" content="your_app_id" />
<meta name="twitter:site" content="@parity_network">
