{{ define "title" }}
    {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="homepage">
    <div id="feature">
        <div class="container">
            <div class="row justify-content-end">
                <div id="feature-box" class="mt-md-5 p-4 col-md-7 col-lg-5">


                    <h1>Pay and Sell in Parity</h1>

                    <h3 class="" style="padding-right: 7.5rem;">Birmingham business network with a local currency</h3>

                    <p><a href="/how-does-it-work">How does it work? (58 secs)</a></p>

                    <p><a href="/contact">Talk to Sales</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row my-5">
            <div class="col text-center">
                <h2>Birmingham businesses accepting Parity:</h2>
            </div>
        </div>
        <div class="row h-100 mb-5 pb-5" id="customers">
            <div class="col m-auto">
                <img src="/images/repc-bw.jpg" alt="REPC" />
            </div>
            <div class="col m-auto d-none d-md-block">
                <img src="/images/cloverhr-bw.jpg" alt="Clover HR" />
            </div>
            <div class="col m-auto">
                <img src="/images/1000-trades-bw.jpg" alt="1000 Trades" />
            </div>
            <div class="col m-auto">
                <img src="/images/breslins-bw.jpg" alt="Breslins" />
            </div>
            <div class="col m-auto d-none d-md-block">
                <img src="/images/kinetic-bw.jpg" alt="Kinetic" />
            </div>
        </div>

        <hr>

        <div class="row my-5 pt-5">
            <div class="col text-center">
                <h2>What are the benefits?</h2>
            </div>
        </div>
        <div class="row h-100 mb-5" id="buy-sell-connect">
            <div class="col-md mx-auto text-center d-flex flex-column">
                <img src="/images/homepage/grow.jpg" class="mx-auto" alt="0% Credit" />
                <h3 class="my-3">Increase your revenue</h3>
                <p class="mt-auto">New local sales channel to sell your downtime, slow moving stock or spare capacity.</p>
            </div>
            <div class="col-md mx-auto text-center d-flex flex-column">
                <img src="/images/homepage/pay.jpg" class="mx-auto" alt="Sell Spare Capacity" />
                <h3 class="my-3">Buy without pounds</h3>
                <p class="mt-auto">Make payments in Parity with a 0% credit facility, freeing up pounds in your business.</p>
            </div>
            <div class="col-md mx-auto text-center d-flex flex-column">
                <img src="/images/homepage/trusted_relationships.jpg" class="mx-auto" alt="Connect with independent businesses" />
                <h3 class="my-3">Build Trusted Relationships</h3>
                <p class="mt-auto">Connect to a community of local, independent and like-minded business owners.</p>
            </div>
        </div>

        <hr>

        <div class="row my-5" id="here-to-help">
            <div class="col-md-6 order-md-12  text-center my-auto">
                <h2>Parity is here to help</h2>

                <p>We support you to get the most from the platform.</p>

                <p>Our team identifies sales opportunities and facilitates transactions.</p>

                <p>We’ll promote your business locally.</p>
            </div>
            <div class="col-md-6 text-center">
                <img class="shadow" src="/images/homepage/front_door.jpg" alt="Our door is open">
            </div>
        </div>

        <hr>

        <div class="row my-5" id="available-on-phone">
            <div class="col-md-6 text-center my-auto">
                <h2>Available on desktop, tablet and mobile</h2>

                <p>Parity is a digital currency. Payments are instant, free and easy.</p>

                <p>Easily integrated into your business processes and accounts.</p>

                <p>Supports cash flow to achieve your growth ambitions.</p>
            </div>
            <div class="col-md-6 text-center">
                <img src="/images/app.jpg" alt="Available in app stores" />
            </div>
        </div>

        <hr>

        <div class="row my-5" id="proven-concept">
            <div class="col-md-6 order-md-12  text-center my-auto">
                <h2>Proven Concept</h2>

                <p>Parity replicates <a href="https://times.co.uk">successful networks</a> in Italy and Switzerland whose members conduct up to 20% more turnover.</p>
                <p>These networks support hundreds of millions worth of transactions every year.</p>

            </div>
            <div class="col-md-6 text-center">
                <img src="/images/italy.jpg" alt="Proven in Italy" />
            </div>
        </div>

        <hr>

        <div class="row my-5">
            <div class="col text-center">

                <h2>Parity is a growing business community</h2>

                <p>If you are an independent Birmingham business, connect today and grow in Parity.</p>

                <p><a href="/contact">Contact Us</a></p>
            </div>
        </div>

    </div>
{{ end }}
