{{ define "title" }}
    {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="homepage-feature">
        <div class="container">
            <div class="row justify-content-end">
                <div id="homepage-feature-box" class="mt-5 p-4 col-md-5">
                    <h1>Local Business Currency for Birmingham</h1>

                    <h2>A B2B platform to increase your local trade</h2>

                    <p><a href="/how-does-it-work">How does it work? (58 secs)</a></p>

                    <p><a href="/contact">Talk to Sales</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ .Content }}
    </div>
{{ end }}
