{{ define "title" }}
    {{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="homepage">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div id="feature-box" class="mt-md-5 p-4 col-md-7 col-lg-5">
                    <h1>Enabling Birmingham to trade differently</h1>

                    <h3 class="" style="">An interest free overdraft in a local currency to spend with other smart businesses</h3>

                    <!-- <p><a href="#" class="js-video-button" data-video-id='zoOcDY0c5GE'>Explainer Video (58 secs)</a></p> -->
                    <!-- <script>$(".js-video-button").modalVideo();</script> -->
                    <p><a href="/how-it-works">Learn how it works</a></p>

                    <p><a href="/book-demo" class="btn btn-dark">Book Online Demo</a></p>

                </div>
            </div>

            <hr class="d-md-none">

            <div class="row my-5">
                <div class="col text-center">
                    <h3>Birmingham businesses accepting Parity:</h3>
                </div>
            </div>
            <div class="row h-100 mb-5 pb-5" id="customers">
                <div class="col m-auto">
                    <img src="/images/repc-bw.jpg" alt="REPC" />
                </div>
                <div class="col m-auto d-none d-md-block">
                    <img src="/images/cloverhr-bw.jpg" alt="Clover HR" />
                </div>
                <div class="col m-auto">
                    <img src="/images/1000-trades-bw.jpg" alt="1000 Trades" />
                </div>
                <div class="col m-auto">
                    <img src="/images/breslins-bw.jpg" alt="Breslins" />
                </div>
                <div class="col m-auto d-none d-md-block">
                    <img src="/images/kinetic-bw.jpg" alt="Kinetic" />
                </div>
            </div>
            <hr>


            <div class="row my-5" id="testimonial">
                <div class="col-md-6 order-md-12  text-center my-auto">

                    <p><blockquote><h3>“Parity is a fantastic concept and great for my business clients. As a new local sales channel, they can make purchases without using precious Pounds. This is a great solution to help small businesses smooth their cash flow”</h3></blockquote></p>

                    <p>Paul Breslin, Director<br>
                        Breslins, Accountants and Consultants</p>

                </div>
                <div class="col-md-6 text-center">
                    <img class="shadow" src="/images/homepage/paul_breslin.jpg" alt="Photo of Paul Breslin">
                </div>
            </div>

            <hr>

            <div class="row my-5">
                <div class="col text-center">
                    <h2>Benefits to your business:</h2>
                </div>
            </div>

            <div class="row h-100 mb-5 three-things">
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <img src="/images/homepage/grow.jpg" class="mx-auto" alt="0% Credit" />
                    <h3 class="my-3">Get more customers</h3>
                    <p class="">Sell your spare capacity in our network and increase revenue</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <img src="/images/homepage/pay.jpg" class="mx-auto" alt="Sell Spare Capacity" />
                    <h3 class="my-3">Buy without pounds</h3>
                    <p class="">Use an interest free overdraft in our local currency</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <img src="/images/homepage/trusted_relationships.jpg" class="mx-auto" alt="Connect with independent businesses" />
                    <h3 class="my-3">Build trusted relationships</h3>
                    <p class="">Connect to a community of smart business owners</p>
                </div>
            </div>

            <hr>

            <div class="row my-5" id="here-to-help">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Parity is here to help you</h2>

                    <p>Our team identifies sales opportunities</p>

                    <p>We connect you to local suppliers</p>

                    <p>We’ll promote your business locally</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="shadow" src="/images/homepage/front_door.jpg" alt="Our door is open">
                </div>
            </div>

            <hr>

            <div class="row my-5" id="available-on-phone">
                <div class="col-md-6 text-center my-auto">
                    <h2>Available on desktop, tablet and mobile</h2>

                    <p>Parity is a local digital currency</p>

                    <p>Payments are instant, free and simple</p>

                    <p>Easily integrated into business accounts</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/images/homepage/tablet.jpg" alt="Available in app stores" />
                </div>
            </div>

            <hr>

            <div class="row my-5" id="proven-concept">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Proven concept</h2>

                    <p>Parity replicates <a href="https://www.ft.com/content/cf875d9a-5be6-11e5-a28b-50226830d644">successful Italian networks</a></p>
                    <p>Members have up to 20% more revenue</p>
                    <p>£100millions of transactions made annually</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/images/italy.jpg" alt="Proven in Italy" />
                </div>
            </div>

        </div>
    </div>
{{ end }}
