
    <div id="how-it-works" class="main-page">
        <div id="feature" class="gradient light-gradient">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div id="feature-box" class="mt-md-5 p-4 col-md-8 col-lg-6">
                    <h1>Parity allows business-owners to buy and sell without cash.</h1>

                    <h3 class="" style="">Cash is king, keep it in the bank for when you need it.</h3>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Using Parity is Simple</h2>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Sign Up</h2>
                    <p>Free to open an account</p>

                    <p>Quick and easy sign up process</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img src="/how-it-works/1.jpg" alt="Welcome to parity" />
                </div>
            </div>

            <div class="row py-3">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-12 text-center my-auto">
                    <h2>Starting Balance</h2>
                    <p>Receive an zero interest overdraft in the local currency</p>

                    <p>Available to spend immediately</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="/how-it-works/2.jpg" alt="Spend parity" />
                </div>
            </div>

            <div class="row py-3">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Sell</h2>
                    <p>Offer your promotions to other local businesses</p>

                    <p>Top your balance back up with sales</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img class="" src="/how-it-works/3.jpg" alt="Sell in Parity" />
                </div>
            </div>

            <div class="row py-3">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-12 text-center my-auto">
                    <h2>Spend</h2>
                    <p>Search the marketplace for local suppliers</p>

                    <p>Spend your balance to purchase expenses</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="/how-it-works/4.jpg" alt="Spend parity" />
                </div>
            </div>

            <div class="row py-3">
                <div class="col text-center">
                    <img class="arrow" style="width: 50%;" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Sell</h2>
                    <p>Offer your promotions to other local businesses</p>

                    <p>Top your balance back up with sales</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img class="" src="/how-it-works/5.jpg" alt="Sell in Parity" />
                </div>
            </div>

            <hr>

            <div class="row my-5" id="">
            <div class="col-md-6 text-center my-auto">
                <p><strong>Why should I accept the local currency?</strong></p>
                <p>
                    To minimise cash out to local suppliers and purchase tools and services without spending cash, whilst increasing your customer base.
                </p><br>
                <p><strong>What about taxes?</strong></p>
                <p>
                    Parity sits on your balance sheet like cash and all the usual taxes are due. We encourage sellers to charge VAT in pound sterling.
                </p><br>
            </div>
            <div class="col-md-6 text-center">
                <p><strong>How do I use Parity?</strong></p>
                <p>
                    It is available on mobile and web application. You can post listings on our marketplace and view what is available.
                </p><br>
                <p><strong>How can the credit be zero interest?</strong></p>
                <p>
                    The zero interest credit is only available in the marketplace to spend with other members. It cannot be withdrawn.
                </p><br>
            </div>
        </div>

        </div>
    </div>
