
    <div id="how-it-works" class="main-page">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row mt-5">
                <div class="col text-center">
                    <h1>How it Works</h1>
                </div>
            </div>


            <div class="row mt-5 pb-5">
                <div class="col-md-6 px-5">
                    <h1 class="narrow">Parity turns your spare capacity into income for business expenses, freeing up pounds.</h1>
                </div>
                <div class="col-md-6 px-5 pb-5">
                    <p>
                        Parity is a trading platform with its own local currency.
                    </p>
                    <p>
                        Use a zero interest overdraft for purchases from other smart businesses, freeing up Pounds for other uses.
                    </p>
                    <p>
                        Sell your spare capacity to repay overdraft or save for future expenses.
                    </p>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Three Steps to Trade Differently</h2>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Join</h2>
                    <p>Simple <a href="https://apply.parity.uk">online application</a> and clear <a href="/pricing">pricing levels</a>.</p>

                    <p>Receive a interest free overdraft in the local currency</p>

                    <p>It’s always equal to GBP, but cannot be exchanged</p>

                    <p>Easily added to your business accounts</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img src="/how-it-works/welcome.png" alt="Welcome to parity" />
                </div>
            </div>

            <div class="row py-5">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-12 text-center my-auto">
                    <h2>Spend</h2>
                    <p>Search the directory for local suppliers in Parity</p>

                    <p>Purchases made with the local currency overdraft</p>

                    <p>Instant, easy and free transactions</p>

                    <p>Save cash in your business for other needs</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="/how-it-works/spend.png" alt="Spend parity" />
                </div>
            </div>

            <div class="row py-5">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-12  text-center my-auto">
                    <h2>Sell</h2>
                    <p>Sell excess stock or utilise downtime</p>

                    <p>Sales repay overdraft or used for future purchases</p>

                    <p>Higher local visibility through our platform</p>

                    <p>Gain new customers to increase sales income</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="/how-it-works/sell.png" alt="Sell in Parity" />
                </div>
            </div>

            <div class="row py-5">
                <div class="col text-center">
                    <h2>Benefits to your Business</h2>
                    <p>✅ Purchased without using precious Pounds</p>

                    <p>✅ Higher local visibility for your company</p>

                    <p>✅ New connections, relationships and long term business</p>

                    <p>✅ Monetised excess stock or downtime</p>
                </div>
            </div>

        </div>
    </div>
