
    <div id="how-it-works" class="main-page">
        <div id="feature" class="gradient light-gradient">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div id="feature-box" class="mt-md-5 p-4 col-md-8 col-lg-6">
                    <h1>Parity allows business-owners to buy and sell without cash.</h1>

                    <h3 class="" style="">Cash is king, keep it in the bank for when you need it.</h3>

                </div>
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Using Parity is Simple</h2>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Join</h2>
                    <p>List in our marketplace and get started for free</p>

                    <p>Receive an interest free balance in the local currency</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img src="/how-it-works/welcome.png" alt="Welcome to parity" />
                </div>
            </div>

            <div class="row py-5">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-12 text-center my-auto">
                    <h2>Spend</h2>
                    <p>Search the marketplace for local suppliers</p>

                    <p>Spend your balance to purchase expenses</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="/how-it-works/spend.png" alt="Spend parity" />
                </div>
            </div>

            <div class="row py-5">
                <div class="col text-center">
                    <img class="arrow" src="/how-it-works/arrow.png" alt="Next step"/>
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto order-md-1 order-12">
                    <h2>Sell</h2>
                    <p>Offer your promotions to other local businesses</p>

                    <p>Top your balance back up with sales</p>

                </div>
                <div class="col-md-6 text-center order-6">
                    <img class="" src="/how-it-works/sell.png" alt="Sell in Parity" />
                </div>
            </div>

            <div class="row my-5" id="">
            <div class="col-md-6 text-center my-auto">
                <p><strong>Why should I accept the local currency?</strong></p>
                <p>
                    To inimise cash out to local suppliers and purchase tools and services without spending cash, whilst increasing your customer base.
                </p><br>
                <p><strong>What about taxes?</strong></p>
                <p>
                    Parity sits on your balance sheet like cash and all the usual taxes are due. We encourage sellers to charge VAT in pound sterling.
                </p><br>
            </div>
            <div class="col-md-6 text-center">
                <p><strong>What if I don’t repay the credit facility?</strong></p>
                <p>
                    As long as you are a member, there are not penalties for using credit. If you leave,  you will need to settle the balance.
                </p><br>
                <p><strong>Can I withdraw the credit from the marketplace?</strong></p>
                <p>
                    No, the 0% credit is only available in the marketplace. We work with you to find suppliers that your business needs.
                </p><br>
            </div>
        </div>
            
        </div>
    </div>
