{{ define "title" }}
    {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "book_demo" }}
    <!-- I wish to have no book demo -->
{{ end }}
{{ define "main" }}

<div id="how-it-works" class="main-page">
    <div id="feature" class="gradient light-gradient">
    </div>
    <div class="container">
        {{ .Render "main" }}
        <hr>
        <div class="row my-5">
            <div class="col text-center">
                <h3>Want to see what is available?</h3>
                <p>See other companies' offers and promotions.</p>
                <a href="/marketplace" class="btn btn-dark">See Marketplace</a>
            </div>
        </div>
    </div>
</div>
{{ end }}
