
{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="how-it-works">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>How does it work for my business?</h2>
                    <p>Parity is a Birmingham business network with the option to buy and sell without using pounds.</p>

                    <p>The local currency is additional liquidity and not a replacement for your existing finances.</p>

                    <p>It is simply another line on your business balance sheet and treated like any other asset.</p>
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Join in four simple steps:</h2>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto">
                    <h2>Engage with Parity</h2>
                    <p>Get in touch and tell us more about your business.</p>

                    <p>Meet with our team and assess opportunities.</p>

                    <p>Plan annual sales and purchases in Parity.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="engage.jpg" alt="Engage with Parity" />
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Connect in Parity</h2>

                    <p>Access account with mobile and desktop application.</p>

                    <p>Have your business promoted to the community.</p>

                    <p>Establish new relationships and unleash your potential.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="connect.jpg" alt="Connect in Parity" />
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto">
                    <h2>Spend in Parity</h2>
                    <p>Use interest free credit in the local currency for purchases.</p>

                    <p>Source your business expenses from suppliers in Parity.</p>

                    <p>Free up pounds for profit or more productive activities.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="spend.jpg" alt="Spend in Parity" />
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Sell in Parity</h2>
                    <p>Local sales channel for slow moving stock or spare capacity.</p>

                    <p>Parity will identify new customers for your company.</p>

                    <p>Sales will pay off credit or be used for future purchases.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="sell.jpg" alt="Sell in Parity" />
                </div>
            </div>

            <hr>

            <div class="row my-5">
                <div class="col text-center">

                    <h2>Parity is a growing community</h2>

                    <p>Connect to increase your local trade and widen your personal networks</p>

                    <p>Get in touch for a no obligation chat about how you can benefit from Parity.</p>

                    <p><a href="/contact">Discuss Your Business</a></p>

                </div>
            </div>
        </div>
    </div>
{{ end }}
