
{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="how-it-works" class="main-page">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>How does it work for my business?</h2>
                    <p>Parity is a Birmingham business network to buy and sell without using pounds.</p>

                    <p>The local currency is additional liquidity and not a replacement for your existing finances.</p>

                    <p>It is simply another line on your business balance sheet and treated like any other asset.</p>
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Join in four simple steps:</h2>
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto">
                    <h2>Engage</h2>
                    <p>Get in touch to tell us about your business.</p>

                    <p>Meet with our team to assess opportunities.</p>

                    <p>Plan annual sales and purchases in Parity.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="engage.jpg" alt="Engage" />
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Connect</h2>
                    <p>Access mobile and desktop applications.</p>
                    <p>Have business promoted to the community.</p>
                    <p>New relationships to unleash your potential.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="connect.jpg" alt="Connect in Parity" />
                </div>
            </div>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto">
                    <h2>Spend</h2>
                    <p>0% interest credit in local currency for purchases.</p>
                    <p>Cover business expenses from suppliers in Parity.</p>
                    <p>Free up pounds for profit or productive activities.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="spend.jpg" alt="Spend in Parity" />
                </div>
            </div>


            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Sell</h2>
                    <p>Sales channel for unused stock or spare capacity.</p>
                    <p>We’ll identify new customers for your company.</p>
                    <p>Sales will pay off credit or used for future purchases.</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="" src="sell.jpg" alt="Sell in Parity" />
                </div>
            </div>

            <hr>

            <div class="row my-5">
                <div class="col text-center">
                    <h2>How do we increase trade in the network?</h2>
                    <p>An online directory and local promotion for your business.</p>
                    <p>Our team provides sales capacity and brokers opportunities.</p>
                    <p>We host local networking events to establish relationships.</p>
                </div>
            </div>

            <hr>

            <div class="row my-5">
                <div class="col text-center">
                    <h2>Parity is a growing community</h2>

                    <p>Connect to increase your local trade and widen your personal networks.</p>

                    <p>Get in touch for a no obligation chat about how you can benefit from Parity.</p>

                    <p><a href="/contact">Discuss Your Business</a></p>

                </div>
            </div>
        </div>
    </div>
{{ end }}
