{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="about-us">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>About Us</h2>
                    <p>We have designed a local currency to unleash the potential of Birmingham’s independent businesses.</p>

                    <p>Our team are experts on how currency innovation supports business communities around the world.</p>

                    <p>We combine best practices with cutting-edge technology to serve our members and the local economy.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col text-center">
                    <h2>What do we believe in?</h2>
                </div>
            </div>
            <div class="row h-100 mb-5" id="we-believe">
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <img src="/images/feature.jpg" alt="0% Credit" />
                    <h3 class="my-3">Mutual benefit</h3>
                    <p class="mt-auto">Trade in Parity is a cooperation between buyers and sellers for collective gain.</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <img src="/images/feature.jpg" alt="Sell Spare Capacity" />
                    <h3 class="my-3">Trusted connections</h3>
                    <p class="mt-auto">Long-lasting and fulfilling partnerships among members, with Parity as a guarantor.</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <img src="/images/feature.jpg" alt="Connect with independent businesses" />
                    <h3 class="my-3">Regional resilience</h3>
                    <p class="mt-auto">Local trade is efficient, environmentally friendly and strengthens communities with shared values.</p>
                </div>
            </div>

        </div>
    </div>
{{ end }}
