{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="about-us" class="main-page">
        <div id="feature" class="gradient light-gradient">
        </div>
        <div class="container">
            <div class="row justify-content-end">
                <div id="feature-box" class="mt-md-5 p-4 col-md-8 col-lg-6">
                    <h1>What Parity is all about</h1>

                    <h3 class="" style="">Parity is an alternative to the pound</h3>

                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 col-md-12 text-center">
                    <h2>What Parity is all about</h2>
                    <p>Parity means equal, and that’s what we’re here for:
                        to level the playing field for small businesses like us.</p>
                    <p>Whether it’s the zero-interest credit in our local currency, access to our marketplace or our simple app.</p>
                    <p>We’re here to put spending power into the hands of local business owners.</p>

                    <h4>Local currency. Local spending. Local wins.</h4>

                </div>
                <div class="col-lg-2"></div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col text-center">
                    <h2>Our Values</h2>
                </div>
            </div>
            <div class="row h-100 mb-5 two-things" >
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Clear</h3>
                    <p class="mt-auto">We’ll keep it simple & transparent so you know what you’re getting, what we’re doing <br> and why it matters.</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Cooperative</h3>
                    <p class="mt-auto">We’re not here to disrupt the system, consider us part of the fabric helping however we can <br> our local community.</p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row h-100 mb-5 two-things" >
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Considerate</h3>
                    <p class="mt-auto">We support local companies and operate a members first and Parity second mentality; <br>
                        we can’t exist without you. </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Curious</h3>
                    <p class="mt-auto">We promise never to utter the words “that’s the way it’s always been done” or stop looking for better ways of doing what we do. </p>
                </div>
                <div class="col-lg-2"></div>

            </div>

            <hr>
            <div class="row my-5" id="proven-concept">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Proven concept</h2>

                    <p>Parity replicates <a href="https://www.ft.com/content/cf875d9a-5be6-11e5-a28b-50226830d644">successful Italian networks</a></p>
                    <p>£100millions of transactions made annually</p>
                    <p>Model was researched at University of Birmingham</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="/images/italy.jpg" alt="Proven in Italy" />
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col text-center">
                    <h2>Our Team</h2>
                </div>
            </div>

            <div class="row h-100 mb-5 three-things" id="bio" >
                <div class="col-sm mx-auto text-center d-flex flex-column mb-5 mb-sm-0">
                    <img src="/images/stuart.jpg" alt="A Photo of Stuart Bowles smiling" class="shadow mx-auto mb-2 mb-sm-4" />
                    <h3 class="my-3">Stuart Bowles</h3>
                    <p class="mt-auto">Stuart Bowles is a PhD candidate at the University of Birmingham. He leads sales and operations and helps shape our strategy.</p>
                </div>
                <div class="col-sm mx-auto text-center d-flex flex-column mb-5 mb-sm-0">
                    <img src="/images/max.jpg" alt="A photo of Max Edwards smiling" class="shadow mx-auto mb-2 mb-sm-4" />
                    <h3 class="my-3">Max Edwards</h3>
                    <p class="mt-auto">Max has 17 years experience in the IT industry, he’s built a financial platform for Barclaycard. He’s the technical expert in the team.</p>
                </div>
                <div class="col-sm mx-auto text-center d-flex flex-column">
                    <img src="/images/matteo.jpg" alt="A photo of Matteo Vanzini smiling" class="shadow mx-auto mb-2 mb-sm-4" />
                    <h3 class="my-3">Matteo Vanzini</h3>
                    <p class="mt-auto">Matteo has researched local currencies around the world. He’s worked for Italian networks and has operational expertise.</p>
                </div>
            </div>

        </div>
    </div>
{{ end }}
