{{ define "title" }}
{{ .Site.Title }}
{{ end }}
{{ define "main" }}
    <div id="about-us" class="main-page">
        <div id="feature">
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>About Us</h2>
                    <p>Our local currency will unleash the potential of Birmingham’s independent businesses</p>

                    <p>We are experts on how currency innovation supports businesses around the world</p>

                    <p>We combine best practices with cutting-edge technology to serve the local economy</p>
                </div>
            </div>
            <hr>
            <div class="row mt-5">
                <div class="col text-center">
                    <h2>What do we believe?</h2>
                </div>
            </div>
            <div class="row h-100 mb-5 three-things" >
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <img src="jigsaw.jpg" alt="0% Credit" />
                    <h3 class="my-3">Mutual Benefit</h3>
                    <p class="mt-auto">Trade is a cooperation between buyers and sellers for collective gain</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <img src="connections.jpg" alt="Sell Spare Capacity" />
                    <h3 class="my-3">Trusted Connections</h3>
                    <p class="mt-auto">Long-lasting and fulfilling partnerships among our members</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <img src="tree.jpg" alt="Connect with independent businesses" />
                    <h3 class="my-3">Regional Resilience</h3>
                    <p class="mt-auto">Local trade is efficient, environmentally friendly and strengthens communities</p>
                </div>
            </div>
            <hr>
            <div class="row my-5 two-things" id="">
                <div class="col-md-6 text-center my-auto">
                    <h2>Our Mission</h2>
                    <p>Independent businesses will thrive in Parity</p>
                    <p>We aim to facilitate millions of transactions</p>
                    <p>Supporting inclusive growth across the city</p>
                </div>
                <div class="col-md-6 text-center">
                    <img src="mission.jpg" alt="Our mission" />
                </div>
            </div>

            <hr>

            <div class="row my-5 two-things" id="">
                <div class="col-md-6 order-md-12  text-center my-auto">
                    <h2>Our Development</h2>

                    <p>Parity is a result of research on local currencies at the University of Birmingham</p>

                    <p>We have built our own technology tailored to the needs  of our members</p>

                    <p>We will continuously develop to meet the needs of the network</p>
                </div>
                <div class="col-md-6 text-center">
                    <img class="shadow" src="uob.jpg" alt="University of Birmingham" />
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col text-center">
                    <h2>Our Team</h2>
                </div>
            </div>

            <div class="row h-100 mb-5 three-things" >
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Stuart Bowles</h3>
                    <p class="mt-auto">Stuart Bowles is a PhD candidate at the University of Birmingham. He leads sales and operations and helps shape our strategy.</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column mb-5 mb-md-0">
                    <h3 class="my-3">Max Edwards</h3>
                    <p class="mt-auto">Max has 17 years experience in the IT industry, he’s built a financial platform for Barclaycard. He’s the technical expert in the team.</p>
                </div>
                <div class="col-md mx-auto text-center d-flex flex-column">
                    <h3 class="my-3">Matteo Vanzini</h3>
                    <p class="mt-auto">Matteo has researched local currencies around the world. He’s worked for Italian networks and has operational expertise.</p>
                </div>
            </div>

        </div>
    </div>
{{ end }}
