    <article class="my-4 directory-company">
        <div class="row">
            <div class="col-md-4 m-auto order-md-12">

                {{ $original := .Page.Resources.GetMatch ( or .Params.logo "logo.jpg" ) }}
                {{ .Scratch.Set "image" ($original.Fit "250x250 linear q90") }}
                {{ $image := .Scratch.Get "image" }}
                <img class="mt-2 mw-95" src="{{ $image.RelPermalink }}" alt="{{ .Params.name }} logo">


                <!-- <img src="{{ .RelPermalink }}{{ .Params.logo }}" alt="{{ .Params.name }} logo" /> -->
            </div>
            <div class="col-md-8 mt-3 mt-md-0">
                <h2>{{ .Params.name }}</h2>
                <ul class="pl-0">
                    <li class="mb-3">
                        <img class="icon" src="/images/icons/map-marker.svg" alt="Map marker icon">
                        <p class="icontext">{{ .Params.address }}</p>
                    </li>

                    <li class="mb-3">
                        <img class="icon" src="/images/icons/globe.svg" alt="Globe icon">
                        <span class="icontext"><a href="{{ .Params.website }}">{{ .Params.website }}</a></span>
                    </li>

                    <li class="mb-3">
                        <img class="icon" src="/images/icons/envelope-closed.svg" alt="Envelope icon">
                        <span class="icontext">{{ .Params.email }}</span>
                    </li>
                    <li class="mb-3">
                        <img class="icon" src="/images/icons/phone.svg" alt="Phone icon">
                        <span class="icontext">{{ .Params.telephone }}</span>
                    </li>
                    <li class="mb-3">
                        <img class="icon" src="/images/icons/tags.svg" alt="Tags icon">
                        <span class="icontext">
                            {{ range .Params.tags }}
                                <span class="tag">{{ . }} <img class="small-icon" src="/images/icons/tag.svg" alt="Tag icon"/></span>
                            {{ end }}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <!-- {{ .Content }} -->
        <h3 class="mt-4">Product and services offered in Parity</h3>
        <div class="row">
            {{ range .Params.products }}
                {{ partial "product_box" . }}
            {{ end}}
        </div>
    </article>
