{{ define "main" }}
    <h1>Posts 2</h1>
    {{ .Content }}
    <script>
     // Initialize and add the map
     function initMap() {
         var parityLocation = {lat: {{ .Params.mapCentreLat }}, lng: {{ .Params.mapCentreLong }}};
         var map = new google.maps.Map(document.getElementById('map'), {zoom: {{ .Params.mapZoom }}, center: parityLocation});
         // The marker, positioned at Uluru
         var marker = new google.maps.Marker({position: uluru, map: map});
     }
    </script>
    <div id="map"></div>
    {{ range .Pages }}
    <article>
        <h2>{{ .Title }}</h2>
        {{ .Content }}
        <h3>Parity Directory</h3>
    </article>
    {{ end }}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ .Params.mapKey }}&callback=initMap">
    </script>

{{ end }}
